.app__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff0f0;
    padding: 1rem 2rem;
}

.app__navbar-logo{
    flex: 1;
    display: flex;
    justify-content: center;

}

.app__navbar-logo img{
    width: 120px;
    margin-left: 200px;
}



.app__navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a{
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
    color: red;
    text-decoration: none;
}

.app__navbar-login a:hover{
    border-bottom: 2px solid red;
    color: red;
}



.socials a{
    margin: 0 50px;
}